<%= link_to "<span><i class='fa-solid fa-arrow-left pe-1'></i>Go Back</span>".html_safe, my_directories_path, class:"btn btn-secondary rounded-pill btn-sm" %>
<h2 class="my-5">Edit directory</h2>

<div class="text-start">
  <%= simple_form_for [@directory] do |f| %>
    <div class="form-inputs">
      <%= f.input :name, as: :string, label: "Directory's name:", placeholder: "Type your directory's name here...", input_html: { style: 'border-color: black;' } %>
      <%= f.input :private, as: :boolean, label: 'Private? 🔒', checked_value: 'true', unchecked_value: 'false', input_html: { style: 'border-color: black;' } %>
      <%= f.button :submit, "Update", class: "btn btn-primary mt-3", id: :btn_add %>
    </div>
  <% end %>
</div>
