
<h2>My Directories</h2>

<%= render "shared/modal_directory", directories: @directory %>


<% if @search_results.present? %>
  <% if @search_results.count == 1 %>
    <h2>1 result found</h2>
  <% else %>
    <h2><%= @search_results.count %> results found:</h2>
  <% end %>
  <div class="card-container">
    <% @search_results.each do |result| %>
      <% if result.searchable_type == 'Snippet' %>
        <%= render "shared/cards", snippet: result.searchable %>
      <% elsif result.searchable_type == 'Directory' %>
        <%= render "shared/directory_cards", directory: result.searchable %>
      <% end %>
    <% end %>
  </div>

<% else %>
  <%= render "shared/filter-form" %>
<h2 class="mt-5">
  <%= @directories.count == 1 ? "You have #{@directories.count} directory" : "You have #{@directories.count} directories" %>
</h2>
  <div class="card-container my-5">
    <% @directories.each do |directory| %>
      <%= render "shared/directory_cards", directory: directory %>
    <% end %>
  </div>
<% end %>
