<div class="d-flex justify-content-between my-5">
  <%= link_to "<span><i class='fa-solid fa-code pe-1'></i>My Snippets</span>".html_safe, my_snippets_path, class:"btn btn-secondary rounded-pill btn-sm" %>
  <%= render "shared/modal_directory", directories: @directory %>
</div>

<h2>My Directories</h2>

<% if @search_results.present? %>

  <% if @search_results.count == 1 %>
    <h2>1 result found</h2>
  <% else %>
    <h2><%= @search_results.count %> results found:</h2>
  <% end %>
  <div class="card-container">
    <% @search_results.each do |result| %>
      <% if result.searchable_type == 'Snippet' %>
        <%= render "shared/cards", snippet: result.searchable %>
      <% elsif result.searchable_type == 'Directory' %>
        <%= render "shared/directory_cards", directory: result.searchable %>
      <% end %>
    <% end %>
  </div>

<% else %>
  <% render "shared/filter-form" %>
  <h3 class="mt-5">
    <%= @directories.count == 1 ? "You have #{@directories.count} directory" : "You have #{@directories.count} directories" %>
  </h3>
  <div class="card-container my-5">
    <% @directories.each do |directory| %>
      <%= render "shared/directory_cards", directory: directory %>
    <% end %>
  </div>
<% end %>
