<div class="d-flex justify-content-between my-5">
  <%= link_to "<span><i class='fa-solid fa-arrow-left pe-1'></i>Go Back</span>".html_safe, my_directories_path, class: "btn btn-secondary rounded-pill btn-sm" %>
  <%= link_to "<span><i class='fa-solid fa-code pe-1'></i>All Snippets</span>".html_safe, snippets_path, class: "btn btn-primary rounded-pill btn-sm" %>
</div>

<div class="border rounded-top-3">
  <div class="buttons-action justify-content-end bg-dark">
    <% if current_user == @directory.user %>
      <%= link_to "<span class='text-warning d-flex flex-column bd-highlight'><i class='btn btn-warning fa-solid fa-pencil' style='color: white'></i></span>".html_safe, edit_directory_path(@directory) %>
      <%= link_to "<span class='text-danger d-flex flex-column bd-highlight'><i class='btn btn-danger fa-solid fa-trash-arrow-up' style='color: white'></i></span>".html_safe, directory_path(@directory), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this snippet?" } %>
    <% end %>
  </div>

  <div class="bg-secondary text-white">
    <h2><%= @directory.name %></h2>

    <div class="mb-5">
      <% if @directory.private %>
        <p class="snippet-status">Directory Status: Private</p>
      <% else %>
        <p class="snippet-status">Directory Status: Public</p>
      <% end %>
    </div>
  </div>


  <div class="my-5">
    <% if @directory.snippets.any? %>
      <%# Snippets saved in this directory %>
      <% @directory.snippets.each do |snippet| %>
        <div class="dir-snippet">
          <%= render "shared/snippet_cards", snippet: snippet %>
          <% link_to "Update Snippet", update_snippet_directory_path(@directory, snippet_id: @snippet.id), method: :patch, remote: true, data: { turbo_frame: "your_directory_frame_id" } %>
          <%= link_to "<span class=''><i class='fa-solid fa-trash' style='color: red'></i></span>".html_safe, remove_snippet_directory_path(@directory, snippet_id: snippet.id), data: { method: :delete, turbo_confirm: "Are you sure you want to remove this snippet from the directory?" } %>
        </div>
      <% end %>
    <% else %>
      <h3>No snippet found in this directory.</h3>
    <% end %>
  </div>

  <div class="show-container">
    <div class="show-code border border-bottom-0 p-3">
      <%=render "shared/add_snippet_form"%>
      <div data-controller="toggle" class="mt-3">
        <p><strong>OR</strong></p>
        <button data-action="click->toggle#fire" class="btn text-primary">Click here to create a new snippet</button>

        <div data-toggle-target="togglableElement" class="d-none mt-3 border-top text-start">

          <%= simple_form_for Snippet.new, url: create_snippet_directory_path(@directory), method: :post, local: true do |form| %>
            <%= form.input :directory_id, as: :hidden, input_html: { value: @directory.id } %>
            <%= form.input :title, label: 'Title:', placeholder: "Type your code's title here...", input_html: { style: 'border-color: black;' } %>
            <%= form.input :content, label: 'Your code:', placeholder: 'Enter your code here', input_html: { style: 'border-color: black;', class: 'code-window', id: 'your-textarea' } %>
            <%= form.input :description, as: :text, label: 'Description', placeholder: "Explain what your code does here", input_html: { style: 'border-color: black; height: 128px;' } %>
            <%= form.input :language, label: 'Language:', collection: [ "Ruby", "JavaScript", "HTML", "CSS", "Java", "Python", "PHP", "C", "TypeScript", "Swift", "Bash", "Multiple", "Objective-C", "C++", "C#"], input_html: { style: 'border-color: black;' } %>
            <%= form.input :private, label: 'Private? 🔒', placeholder: 'Enter private value', input_html: { style: 'border-color: black;' } %>
            <%= form.button :submit, "+ Create",class: "btn btn-primary mt-3", id: :btn_add %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
