<%= link_to "<= Go back",  my_directories_path, class:"btn btn-primary rounded-pill btn-sm", class: "back-btn" %>
<br>
<%= link_to "<= All public Snippets",  snippets_path, class:"btn btn-primary rounded-pill btn-sm", class: "back-btn" %>
<h2>Name of directory : <%= @directory.name %></h2>

<% if @directory.private == true%>
        <p class="snippet-status">Directory Status: Private</p>
      <%else%>
        <p>Directory Status: Public</p>
      <%end%>

<h2><%= @directory.name %></h2>

<% if @directory.private == true%>
  <p class="snippet-status">Directory Status: Private</p>
<% else %>
  <p>Directory Status: Public</p>
<% end %>

<div class="buttons-action">
  <% if current_user == @directory.user%>
      <%= link_to directory_path(@directory), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce directory?" }, class: "btn btn-info btn-sup" do%>
      <i class="fa-solid fa-trash-arrow-up fa-bounce"></i>
    <% end %>
  <% end %>
  <% if current_user == @directory.user%>
      <%= link_to edit_directory_path(@directory), class: "btn btn-info edit-pen" do%>
      <i class="fa-solid fa-pencil fa-bounce"></i>
    <% end %>
  <% end %>
</div>

<div class="show-container">
  <div class="show-code">
    <%=render "shared/add_snippet_form"%>

    <div data-controller="toggle" class="mt-5">
      <button data-action="click->toggle#fire" class="btn btn-outline-primary">Create a new Snippet in this Directory</button>
      <div data-toggle-target="togglableElement" class="d-none">

    <%= simple_form_for Snippet.new, url: create_snippet_directory_path(@directory), method: :post, local: true do |form| %>
      <%= form.input :directory_id, as: :hidden, input_html: { value: @directory.id } %>
      <%= form.input :title, label: 'Title:', placeholder: "Type your code's title here...", input_html: { style: 'border-color: black;' } %>
      <%= form.input :content, label: 'Your code:', placeholder: 'Enter your code here', input_html: { style: 'border-color: black;', class: 'code-window', id: 'your-textarea' } %>
      <%= form.input :language, label: 'Select the language of your code:', collection: [ "Ruby", "JavaScript", "HTML", "CSS", "Java", "Python", "PHP", "C", "TypeScript", "Swift", "Bash", "Multiple", "Objective-C", "C++", "C#"], input_html: { style: 'border-color: black;' } %>
      <%= form.input :private, label: 'Make it private?', placeholder: 'Enter private value', input_html: { style: 'border-color: black;' } %>
      <%= form.button :submit, class: "btn btn-primary mt-3", id: :btn_add %>
    <% end %>

        </div>
      </div>
    </div>
  </div>

  <% if @directory.snippets.any? %>
    <h2>Snippets in this directory:</h2>

              <% if @directory.snippets.any? %>
  <h2>Snippets in this directory:</h2>
      <% @directory.snippets.each do |snippet| %>
        <%= render "shared/cards", snippet: snippet %>

<%= link_to "Remove from Directory", remove_snippet_directory_path(@directory, snippet_id: snippet.id), data: { method: :delete, turbo_confirm: "Are you sure you want to remove this snippet from the directory?" }, class: "btn btn-danger" %>

<%= link_to "Update Snippet", update_snippet_directory_path(@directory, snippet_id: @snippet.id),
            method: :patch,
            remote: true,
            data: { turbo_frame: "your_directory_frame_id" } %>


      <% end %>
        <% else %>
          <p>No snippets in this directory.</p>
        <% end %>
 </div>
</div>
