
<%= render "shared/snippet_buttons", snippets: @snippet if user_signed_in? %>

<%= form_with(url: snippets_path, method: :get, class: "search-bar search-form d-flex my-4") do |form| %>
  <%= form.select :language, options_for_select(["All language","Ruby", "JavaScript", "HTML", "CSS", "Java", "Python", "PHP", "C", "TypeScript", "Swift", "Bash", "Multiple", "Objective-C", "C++", "C#"]), class: 'form-control' %>
  <%= form.text_field :query, class: "form-control", placeholder: "Type a keyword" %>
  <%= form.submit "Search", class: "btn btn-primary" %>
<% end %>


<% if @search_results.present? %>
  <% if @search_results.count == 1 %>
    <h2>1 result found for "<%= @query %>"</h2>
  <% else %>
    <h2><%= @search_results.count %> results found for "<%= @query %>"</h2>
  <% end %>
  <div class="card-container my-5">
    <% @search_results.each do |result| %>
        <%= render "shared/snippet_cards", snippet: result %>
    <% end %>
  </div>

<% else %>
  <h2 class="mt-5">All snippets</h2>
  <div class="card-container my-5">
    <% @snippets.each do |snippet| %>
      <%= render "shared/snippet_cards", snippet: snippet %>
    <% end %>
  </div>
<% end %>
