<%= render "shared/modal_snippet", snippets: @snippet %>

 <div class= "">
          <% @snippets.each do |snippet| %>
              <div>
                <p>
                 <%=snippet.name%>
              </p>
              </div>
              <br>
              <p>
                <%=snippet.content%>
              </p>
              <p>
                <%=snippet.language%>
              </p>
            </div>
            <br>

              <%# <% if current_user == snippet.user %>
                <%# <%= link_to "Supprimer", snippets_path(snippet), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette snippet?" }, class: "btn btn-info btn-sm " %>
              <%# <% end %>

          <%end%>
          </div>
