<%= render "shared/snippet_buttons", snippets: @snippet if user_signed_in? %>

<% if @search_results.present? %>

  <% if @search_results.count == 1 %>
    <h2>1 result found</h2>
  <% else %>
    <h2><%= @search_results.count %> results found</h2>
  <% end %>

  <div class="card-container my-5">

    <% @search_results.each do |result| %>
      <% if result.searchable_type == 'Snippet' %>
        <%= render "shared/snippet_cards", snippet: result.searchable %>
      <% elsif result.searchable_type == 'Directory' %>
      <% end %>
    <% end %>

  </div>

<% else %>

  <%= render "shared/filter-form" %>
  <h2 class="mt-5">
    <%= @snippets.count == 1 ? "You have #{@snippets.count} snippet" : "You have #{@snippets.count} snippets" %>
  </h2>
  <div class="card-container my-5">
    <% @snippets.each do |snippet| %>
      <%= render "shared/snippet_cards", snippet: snippet %>
    <% end %>
  </div>

<% end %>
