<% content_for :meta_title, "#{@snippet.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @snippet.description %>

<div class="d-flex justify-content-between my-5">
  <%= link_to "<span><i class='fa-solid fa-arrow-left pe-1'></i>Go Back</span>".html_safe, :back, class:"btn btn-secondary rounded-pill btn-sm" %>

  <% if user_signed_in? %>
    <button type="button" class="btn btn-primary rounded-pill btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <span><i class='fa-solid fa-folder pe-1'></i>Save</span>
    </button>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Where do you want to save this snippet?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-backdrop="false"></button>
        </div>

        <div class="modal-body" style="
                    padding-right: 50px;
                    padding-left: 50px;
                    margin-top: 15px;
                    margin-bottom: 15px;">

          <!-- app/views/directories/show.html.erb -->

          <%= form_with(url: add_to_directory_snippet_path(@snippet), method: :post, local: true) do |form| %>
            <div class="field m-4">
              <%= form.label :directory_id %>
              <%= form.collection_select(:directory_id, current_user.directories, :id, :name, prompt: "Choose a directory", class: "directory-select") %>
            </div>
            <div class="actions">
              <%= form.submit "+", class: "text-white fw-bolder btn btn-success" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

<% end %>

<div class="show-container" data-controller="copy-to-clipboard">
  <h2 class="code-title"><%= @snippet.title %></h2>


  <div class="code-bar">

    <h6><%= @snippet.language%></h6>

    <button data-action="click->copy-to-clipboard#copy" class="btn">
      <i data-copy-to-clipboard-target="action" class="fa-regular fa-clipboard fa-fade" style="color: #bababa;"></i>
      <i data-copy-to-clipboard-target="checked" class="fa-solid fa-clipboard-check fa-fade d-none" style="color: #bababa;"></i>
    </button>

  </div>
  <textarea name="code-view" cols="30" rows="10" data-copy-to-clipboard-target="input" readonly><%= @snippet.content %></textarea>


  <% if @snippet.private == true %>
    <p class="snippet-status">Snippet Status: Private</p>
  <% else %>
    <p>Snippet Status: Public</p>
  <% end %>


  <% if user_signed_in? %>
    <div class="snippet-social-bar border-top border-bottom mb-4">
      <%= link_to snippet_new_like_path(@snippet), data: { 'turbo-method' => :post } do %>
        <% if Like.where(user: @current_user, snippet: @snippet).count == 0 %>
          <i data-controller="like" data-action="click->like#like" class="far fa-heart red-heart fa-2x" data-like-target="heart"></i>
        <% else %>
          <i data-controller="like" data-action="click->like#like" class="fas fa-heart red-heart fa-2x" data-like-target="heart"></i>
        <% end %>
      <% end %>
      <% if current_user == @snippet.user %>
        <%= link_to "<i class='fa-solid fa-pencil fa-2x' style='color: orange'></i>".html_safe, edit_snippet_path(@snippet) %>
        <%= link_to "<i class='fa-solid fa-trash-arrow-up fa-2x' style='color: red'></i>".html_safe, snippet_path(@snippet), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this snippet?" } %>
        <h6 class="fw-light text-muted">Last updated by <%= @snippet.user.username %> on <%= @snippet.updated_at %></h6>
        <% end %>
    </div>
  <% end %>

  <div class="snippet-description border border-primary rounded-3 p-3">
    <h6 class="border-bottom">Description:</h6>
    <p><%= @snippet.description %></p>
  </div>
</div>
