<%= link_to "<= Go back",  snippets_path, class:"btn btn-primary rounded-pill btn-sm", class: "back-btn" %>
        <% if current_user == @snippet.user%>
                <%= link_to "Supprimer", snippet_path(@snippet), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette snippet?" }, class: "btn btn-info btn-sup" %>
              <% end %>

              <% if current_user == @snippet.user%>
                  <%= link_to edit_snippet_path(@snippet), class: "btn btn-info edit-pen" do%>
                    <i class="fa-sharp fa-solid fa-pencil"></i>
              <% end %>
              <% end %>

<div class="show-container">
   <h2 class="code-title"><%= @snippet.title&.capitalize %></h2>
    <div class="show-code">
      <div class="code-bar"><h6><%= @snippet.language%></h6></div>
      <textarea name="code-view" cols="30" rows="10"><%= simple_format(@snippet.content) %></textarea>

      <% if @snippet.private == true%>
        <p class="snippet-status">Snippet Status: Private</p>
      <%else%>
        <p>Snippet Status: Public</p>
      <%end%>
 </div>
</div>
