<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Select
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Adding a snippet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-backdrop="false"></button>
      </div>
      <div class="modal-body" style="
                    padding-right: 50px;
                    padding-left: 50px;
                    margin-top: 15px;
                    margin-bottom: 15px;">
        <%= form_with(url: add_snippet_directory_path(@directory), method: :post, local: true) do |form| %>
          <div class="field modal-text">
            <%= form.label :snippet_filter, "Filter" %>
            <%= form.select(:snippet_filter, options_for_select([["My Snippets", "mine"], ["All Snippets", "all"]]), { prompt: "Select a filter" }, class: "filter-select") %>
          </div>
          <div class="field modal-text">
            <%= form.label :snippet_id %>
            <%= form.collection_select(:snippet_id, @combined_snippets, :id, :title, { prompt: "Choose a snippet" }, class: "snippet-select") %>
          </div>
          <div class="actions mt-3">
            <%= form.submit "+ Add", class: "btn btn-success rounded-pill btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
