<div class="card m-3">
  <%= link_to snippet_path(snippet), class: "text-decoration-none" do %>
    <div class="content">
      <div class="">
        <h3 class="mb-3">
          <%= snippet.title %>
        </h3>
      </div>
      <h6 class="mb-3">
        @<%= snippet.user.username %>
      </h6>
      <p class="mb-3 content-snippet"><% truncate(snippet.content, length: 20, omission: '...') %></p>
      <div>
        <p class="mb-3"><%= snippet.language %></p>
      </div>

      <p class="mb-3">Published date: <%= snippet.created_at.strftime("%d/%m/%Y") %></p>

      <div class="buttons-action d-flex justify-content-between">
        <% if current_user == snippet.user %>
          <%= link_to snippet_path(snippet), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette snippet?" }, class: "btn btn-info btn-sup" do %>
            <i class="fa-solid fa-trash-arrow-up fa-bounce"></i>
          <% end %>
        <% end %>

        <% if current_user == snippet.user %>
          <%= link_to edit_snippet_path(snippet), class: "btn btn-info edit-pen" do %>
            <i class="fa-solid fa-pencil fa-bounce"></i>
          <% end %>
        <% end %>
      </div>

<%= link_to snippet_new_like_path(snippet), data: { 'turbo-method' => :post } do %>
  <button type="submit" class="like-button" data-controller="like" data-action="click->like#like">
    <% if Like.where(user: @current_user, snippet: snippet).count == 0 %>
     <i class="far fa-heart" data-target="like.heart"></i>
     
    <% else %>
      <i class="fas fa-heart"></i>

    <% end %>
    <%# <span class="like-count"><%= @post.likes.count %>
  </button>
  <% end %>

    </div>
  <% end %>
</div>
