

<%= link_to snippet_path(snippet), class:"text-decoration-none" do %>
          <div class="combine">
          <div class="card">
                <span>
              <div class="content">
                <h3>
                 <%=snippet.title&.capitalize%>
              </h3>
              <br>
              <code class="content-snippet"> <%=simple_format(snippet.content)%> </code>
              <p>
                <%=snippet.language%>
              </p>
              </div>
               <% end %>
            </div>

              <% if current_user == snippet.user%>
                <%= link_to "Supprimer", snippet_path(snippet), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette snippet?" }, class: "btn btn-info btn-sup" %>
              <% end %>

              <% if current_user == snippet.user%>
                  <%= link_to edit_snippet_path(snippet), class: "btn btn-info edit-pen" do%>
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                      <% end %>
              <% end %>
            </span>
              </div>

