<aside id="sidebar">

  <div class="h-100">

    <%# SIDEBAR LOGO %>
    <div class="sidebar-logo">
      <%= link_to snippets_path do %>
        <svg width="150" height="50" viewBox="-4 0 373.667 67.036">
          <path d="M77.615 56.652H72.35V16.685A1.685 1.685 0 0 0 70.667 15H4.666a1.685 1.685 0 0 0-1.684 1.685v39.967h-5.264A1.718 1.718 0 0 0-4 58.369v1.737c0 .086.007.17.018.255.44 2.934 2.79 6.206 5.966 6.602.07.008.141.014.21.014l70.425.06h.002c3.67 0 6.337-3.498 6.701-6.738.008-.063.011-.127.011-.192V58.37a1.718 1.718 0 0 0-1.718-1.718zM6.35 18.369h62.633V56.65H45.987c-.11 0-.218.013-.321.033H30.3a1.725 1.725 0 0 0-.33-.033H6.35V18.37zm66.273 45.23-70.301-.06c-1.218-.217-2.52-1.8-2.862-3.452h29.238c.585 1.038 1.681 1.737 2.933 1.737h12.694c1.251 0 2.346-.699 2.933-1.737h28.625c-.268 1.694-1.672 3.512-3.26 3.512zM28.367 30.59a1.736 1.736 0 0 0-2.456 0l-7.241 7.241a1.737 1.737 0 0 0 0 2.457l7.24 7.24a1.733 1.733 0 0 0 2.457 0 1.736 1.736 0 0 0 0-2.456l-6.013-6.013 6.013-6.013a1.737 1.737 0 0 0 0-2.456zm17.1 16.938a1.734 1.734 0 0 0 2.457 0l7.24-7.24a1.737 1.737 0 0 0 0-2.457l-7.24-7.24a1.737 1.737 0 1 0-2.456 2.455l6.013 6.013-6.013 6.013a1.736 1.736 0 0 0 0 2.456zm-14.64 3.71a1.737 1.737 0 0 0 2.331-.777L43.58 29.62a1.736 1.736 0 0 0-.778-2.33 1.74 1.74 0 0 0-2.33.776L30.05 48.91a1.736 1.736 0 0 0 .776 2.33z" xmlns="http://www.w3.org/2000/svg" fill="#00043c"/>
          <path d="m128.568 35.528.105.175-2.588 2.064-.244-.317q-1.505-1.922-3.569-3.147-2.028-1.19-5.037-1.19-2.133 0-4.092.735-1.995.805-3.428 2.134-1.434 1.294-2.377 3.218-.91 1.924-.91 4.092 0 1.785.734 3.638.77 1.924 2.133 3.393 1.436 1.54 3.393 2.518t4.549.98q3.147 0 5.21-1.084 2.098-1.119 3.603-3.113l.665-.946 2.692 2.064-.56.63q-2.378 2.903-5.107 4.197-2.832 1.329-6.505 1.329-2.763 0-5.35-1.05-2.554-.978-4.55-2.867-1.992-1.853-3.146-4.303-1.19-2.412-1.19-5.386 0-2.308.946-4.651.874-2.31 2.727-4.27 1.889-1.957 4.478-3.11 2.588-1.19 6.085-1.19 1.784 0 3.533.384 1.678.455 3.078 1.156 1.469.768 2.623 1.713 1.225 1.014 2.1 2.204zm13.255 7.764q0 2.204.877 4.093.908 1.994 2.377 3.357 1.504 1.436 3.428 2.275t4.092.839q2.237 0 4.161-.84 1.855-.734 3.393-2.237 1.436-1.435 2.275-3.36.803-1.994.803-4.127 0-2.168-.803-4.092-.84-1.853-2.275-3.253-1.433-1.33-3.393-2.133-1.888-.77-4.16-.77-2.555 0-4.583.91-2.029.943-3.393 2.413-1.399 1.504-2.064 3.288-.735 1.818-.735 3.637zm24.94 0q0 2.939-1.155 5.422t-3.113 4.269q-1.922 1.851-4.512 2.832-2.588 1.05-5.386 1.05-3.428 0-6.051-1.296-2.659-1.259-4.443-3.252-1.818-1.959-2.763-4.407-.943-2.379-.943-4.618 0-2.973 1.19-5.387 1.153-2.377 3.113-4.195 1.922-1.715 4.545-2.73 2.554-.945 5.352-.945 3.498 0 6.12 1.19 2.66 1.19 4.443 3.149 1.82 1.994 2.694 4.267.908 2.412.908 4.651zm20.462-12.802q2.796 0 5.35.945 2.59.944 4.512 2.657 1.96 1.75 3.113 4.094 1.156 2.412 1.156 5.282 0 2.902-1.156 5.246-1.223 2.448-3.113 4.127-1.958 1.749-4.512 2.692-2.517.981-5.35.981h-8.01q-1.015 0-1.504-.63-.526-.595-.526-1.19V32.308q0-.595.526-1.225.489-.593 1.505-.593h8.009zm-6.576 22.842h6.576q2.099 0 4.023-.735 1.888-.7 3.393-2.064 1.467-1.293 2.341-3.113.84-1.784.84-3.952 0-2.135-.84-3.988-.907-1.82-2.308-3.113-1.435-1.294-3.393-2.029-1.994-.699-4.056-.699h-6.576v19.693zm52.046-8.255h-17.068v8.255h18.153v3.182h-19.588q-.979 0-1.505-.63-.524-.595-.524-1.19V32.308q0-.595.524-1.223.49-.597 1.505-.597h19.588v3.151h-18.153v8.253h17.068v3.183zm14.622 11.437q-.981 0-1.505-.63-.526-.595-.526-1.19V32.308q0-.595.526-1.223.49-.597 1.505-.597h11.087q1.957 0 3.393.666 1.54.699 2.483 1.715.979 1.014 1.504 2.344.489 1.362.489 2.554 0 1.431-.56 2.796-.594 1.47-1.888 2.554 1.855 1.083 2.73 2.659.803 1.538.803 3.322 0 1.19-.49 2.554-.56 1.363-1.503 2.377-.98 1.085-2.45 1.784-1.502.701-3.393.701h-12.205zm1.433-22.875v8.255h9.654q1.014 0 1.853-.386.805-.384 1.364-.943t.877-1.294q.28-.77.28-1.504t-.28-1.505q-.35-.803-.877-1.33-.559-.594-1.364-.942-.735-.351-1.853-.351h-9.654zm0 19.693h10.772q.98 0 1.82-.386.734-.349 1.364-.979.56-.56.875-1.365.28-.839.28-1.502 0-.735-.28-1.505-.317-.665-.84-1.26-.525-.524-1.364-.908-.734-.35-1.855-.35H248.75v8.255zm31.06 3.182h-3.813l11.544-25.323q.14-.42.663-.805.49-.384 1.19-.384.91 0 1.294.315.386.384.63.874l11.298 25.323h-3.813l-4.512-9.968h-9.899zm5.947-12.907h7.239l-3.602-8.044zm45.819 12.417L315.45 35.876v20.638h-3.462V31.887q0-.629.489-1.294.49-.595 1.609-.595.596 0 1.085.21.454.28.699.629l16.055 20.252V30.49h3.497v24.482q0 .597-.49 1.26-.453.664-1.609.664-.699 0-1.047-.242-.526-.422-.701-.632zM364.07 30.49h5.526l-16.788 12.871 16.857 13.153h-5.421l-13.817-10.67v10.67h-3.462V30.488h3.462v10.426z" fill="#00043c"/>
        </svg>
      <% end %>
    </div>

    <%# SIDEBAR NAVIGATION %>
    <ul class="sidebar-nav">

      <li class="sidebar-header">
        Dashboard
      </li>

      <li class="sidebar-item">
        <%= link_to "<span><i class='fa-solid fa-code pe-3'></i>My Snippets</span>".html_safe, snippets_path, class: "sidebar-link" %>
      </li>
      <li class="sidebar-item">
        <%= link_to "<span><i class='fa-solid fa-folder pe-3'></i>My Directories</span>".html_safe, directories_path, class: "sidebar-link" %>
      </li>
      <li class="sidebar-item">
        <%= link_to "<span><i class='fa-solid fa-people-group pe-3'></i>My Teams</span>".html_safe, snippets_path, class: "sidebar-link" %>
      </li>

      <li class="sidebar-header">
        Community
      </li>

      <li class="sidebar-item">
        <%= link_to "<span><i class='fa-solid fa-eye pe-3'></i>Discover</span>".html_safe, snippets_path, class: "sidebar-link" %>
      </li>
      <%# <li class="sidebar-item">
        <%= link_to "<span><i class='fa-solid fa-bookmark pe-3'></i>Saved</span>".html_safe, snippets_path, class: "sidebar-link" %>
      <%# </li> %>

        <li class="sidebar-item">
        <%= link_to "<span><i class='fas fa-heart'></i> My favorites</span>".html_safe, likes_index_path, class: "sidebar-link" %>
      </li>

      <% if user_signed_in? %>

        <li class="sidebar-header">
          Settings
        </li>

        <li class="sidebar-item">
          <%= link_to "<span><i class='fa-solid fa-gear pe-3'></i>My Preferences</span>".html_safe, snippets_path, class: "sidebar-link" %>
        </li>
        <li class="sidebar-item">
          <%= link_to "<span><i class='fa-solid fa-user pe-3'></i>My Account</span>".html_safe, snippets_path, class: "sidebar-link" %>
        </li>
        <li class="sidebar-item">
          <%= link_to "<span><i class='fa-solid fa-right-from-bracket pe-3'></i>Log Out</span>".html_safe, destroy_user_session_path, class: "sidebar-link" %>
        </li>

      <% else %>

        <li class="sidebar-header">
          Authentication
        </li>

        <li class="sidebar-item">
          <%= link_to "<span><i class='fa-solid fa-user pe-3'></i>Login</span>".html_safe, new_user_session_path, class: "sidebar-link" %>
        </li>
        <li class="sidebar-item">
          <%= link_to "<span><i class='fa-solid fa-right-from-bracket pe-3'></i>Sign Up</span>".html_safe, new_user_registration_path, class: "sidebar-link" %>
        </li>

      <% end %>
    </ul>
  </div>
</aside>
